<aside class="sidebar">
  <h3>Projects</h3>
  <ul class="project-list">
    {% for proj in site.projects %}
      <li>
        <details>
          <summary><a href="{{ proj.url }}">{{ proj.title }}</a></summary>
          <ul>
            {% assign articles = site.articles | where: "project", proj.slug %}
            {% for art in articles %}
              <li><a href="{{ art.url }}">{{ art.title }}</a></li>
            {% endfor %}
          </ul>
        </details>
      </li>
    {% endfor %}
  </ul>
</aside>
